*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vh;
}

.container{
  width: 300px;
  background-color: antiquewhite;
}
.head{
    background-color: rgb(23, 39, 209);
    padding: 10px;
    color: white;
    text-align: center;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}